*,
*:after,
*:before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

}

/* Header */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: space-between;
	margin-bottom: 150px;
}

.header__face {
	display: block;
	width: 250px;
	height: 250px;
}

.my_name {
	margin-top: 20px;
	width: 1200px;

	display: block;
	font-family: 'Swanky and Moo', cursive;
	font-size: 72px;
	text-align: center;
}

.my_position {
	display: block;
	width: 1000px;
	height: 60px;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	text-align: center;
}

.header__mySocial {
	display: block;
}

.header__mySocialWrapper {
	display: flex;
	justify-content: space-around;
	width: 1200px;
}

/*Skills*/

.skills {
	display: flex;
	justify-content: center;
	width: 1200px;
	height: 350px;
}

.skills__hard {
	display: block;
	width: 40%;
	text-align: center;
}

.skills__soft {
	display: block;
	width: 40%;
	text-align: center;
}

ul {
	list-style: none;
	font-family: 'Swanky and Moo', cursive;
	font-size: 18px;
}

a.projects-link {
	text-decoration: none;
	font-family: 'Swanky and Moo', cursive;
	font-size: 18px;
	padding-top: 10px;
	color: black;
}

.projects {
	text-align: center;
}

.projects-link {
	display: block;
}

/*Animation*/

.my_position {
	animation: my_position 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.my_name {
	animation: my_name 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes my_position {
	0% {
		letter-spacing: 1em;
		transform: translateZ(300px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		transform: translateZ(12px);
		filter: blur(0);
		opacity: 1;
	}
}

@-webkit-keyframes focus-in-expand-fwd {
	0% {
	  letter-spacing: -0.5em;
	  -webkit-transform: translateZ(-800px);
			  transform: translateZ(-800px);
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }
  @keyframes my_name {
	0% {
	  letter-spacing: -0.5em;
	  -webkit-transform: translateZ(-800px);
			  transform: translateZ(-800px);
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }
  