

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
	margin: 0 auto;
	
}

/* Header */

.header {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	
}

img {
	align-self: center;
}

h1 {
	font-family: 'Swanky and Moo', cursive;
	font-size: 72px;
	align-content: center;
	
	
}

h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	align-content: center;
}

.header--mySocial {
	display: flex;
	align-content: space-around;
}

.skills {
	display: flex;
	justify-content: space-around;
	height: 300px;
}

ul {
	list-style: none;
	font-family: 'Swanky and Moo', cursive;
	font-size: 18px;
}

.projects {
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
	
}

a.projects-link {
	text-decoration: none;
	font-family: 'Swanky and Moo', cursive;
	font-size: 18px;
	padding-top: 10px;
}

a.projects-link:hover {
	text-decoration: underline;
}


.header--myName {
	align-self: center;
	
}

.header--myFoto{
	align-self: center;
}

.header--mySocial {
	align-self: center;
}

