@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Swanky+and+Moo+Moo&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	width: 100%;
	margin: 0 auto;

}

/* Header */
h2 {
	font-family: 'Kaushan Script', cursive;
}



header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: space-between;
	margin-bottom: 150px;
}

.header__face {
	display: block;
	width: 400px;
	height: 400px;

}

.my_name {
	margin-top: 20px;

	display: block;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 72px;
	text-align: center;
}

.my_position {
	display: block;
	height: 60px;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	text-align: center;
}

.header__mySocial {
	display: block;
}

.header__mySocialWrapper {
	display: flex;
	justify-content: space-around;
	width: 1000px;
}

/*Skills*/

.skills {
	display: flex;
	justify-content: space-around;
	
}

.skills__hard {
	display: flex;
	flex-direction: column;
	
	text-align: center;
}

.skills__soft {
	display: flex;
	flex-direction: column;
	
	text-align: center;
}

ul {
	list-style: none;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 30px;
	text-align: center;
}

a.projects-link {
	text-decoration: none;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 30px;
	padding-top: 10px;
	color: black;
	cursor: pointer;
}

.projects {
	margin: 0 auto;
	text-align: center;
}

.projects-link {
	display: block;
}

/*Animation*/

.my_position {
	animation: my_position 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	;
}

.my_name {
	animation: my_name 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes my_position {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes my_name {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

@media (max-width: 768px) {

	header {
		margin-bottom: 70px;
	}

	.container {
		width: 100%;
	}

	.my_name {
		font-size: 20px;
		width: 100%;
		height: 40px;

	}

	.my_position {
		font-size: 18px;
		width: 200px;
		height: 30px;
	}

	.header__face {
		height: 100px;
		width: 100px;
		margin: 0 auto;
	}

	.header__mySocialWrapper {
		width: 200px;
		height: 30px;
	}

	.header__mySocialWrapper img {
		width: 30px;
		height: 30px;
	}

	.skills {
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.skills h2 {
		font-size: 14px;
	}

	.skills li {
		font-size: 14px;
	}

	.projects__title {
		font-size: 14px;
	}

	a.projects-link {
		font-size: 14px;
	}
}

.jsProjects {
	margin-top: 20px;
}
