extends ./../layouts/main.pug

block variables
    - const title = "Главная";

block content
    include ./../sections/header.pug

    .container
        .row
            .col-9

                article.post 




            .col-3 SIDEBAR