* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

/* font-family: 'Bebas Neue', cursive; */

/*Styling header*/


.header {
    background-color: #fdfdfd ;
    font-family: 'Bebas Neue', cursive;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-size: 36px;
    font-weight: 400;
    color: #e8603c;
    margin-top: 20px;
}
.header__logo span {
    color: #f3af9d;
}
.header__nav li {
    display: inline-block;
    font-size: 16px;
    color: #b9b9b9;
    margin-top: 34px;
    margin-bottom: 28px;
    
}
.header__nav li + li {
    margin-left: 28px;
}
.header__nav a:hover {
    color: #e8663c;
    transition: all .5s;
}

/*slider*/

.slider{
    margin-bottom: 40px;
}

.slider__item {
    max-height: 400px;
    background-image: url(../images/slider_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 245px;
    padding-left: 30px;
    
}


.slider__box-text {
    width: 412px;
    background-color: rgba(232, 102, 60, .8);
    padding: 20px 30px 25px 20px;
}
.slider__title {
    font-family: serif;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: #fff;
    text-transform: lowercase;
}
.slider__subtitle {
    padding-top: 25px;
    font-size: 12px;
    color: #fff;
    font-family: 'Helvetica',sans-serif;
}
.slider-nav__item {
    width: 140px;
    height: 120px;
    background-image: url(../images/slider_bg.jpg);
}
.slick-slide {
    margin: 5px;    
}
.slider::before {
    content: '';
    display: block;
    position: absolute;
    top: 84px;
    width: 100%;
    height: 60px;
    background-color: #f0ac9a;
}
.slick-next{
    right: 50px;
    top: 170px;
}
.slick-prev {
    z-index: 2;
    top: 170px;
    left: 20px;
}
.slick-arrow::before{
    display: none;
}

/*content*/

.content{
    margin-bottom: 45px;
}
.content__inner{
    display: flex;
    justify-content: space-between;
}
.content__item{
    width: 290px;
}
.content__item-title{
    padding-bottom: 40px;
    padding-left: 70px;
    font-family: 'Bebas', cursive;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #e8663c;
    position: relative;
}
.content__portfolio::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/content/item-1.svg);
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
}
.content__offer::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/content/item-2.svg);
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;

}
.content__follow::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/content/item-3.svg);
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;

}
.content__item-text{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 24px;
}
.content__item-btn{
    font-family: 'Bebas', cursive;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #e8663c;
    color: white;
    padding: 10px 15px;
}