* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

/* font-family: 'Bebas Neue', cursive; */

/*Styling header*/


.header {
    background-color: #fdfdfd ;
    font-family: 'Bebas Neue', cursive;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-size: 36px;
    font-weight: 400;
    color: #e8603c;
    margin-top: 20px;
}
.header__logo span {
    color: #f3af9d;
}
.header__nav li {
    display: inline-block;
    font-size: 16px;
    color: #b9b9b9;
    margin-top: 34px;
    margin-bottom: 28px;
    
}
.header__nav li + li {
    margin-left: 28px;
}
.header__nav a:hover {
    color: #e8663c;
    transition: all .5s;
}

/*slider*/

.slider__item {
    min-height: 400px;
    background-image: url(../images/slider_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 245px;
    padding-left: 30px;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
}

.slider__box-text {
    width: 412px;
    background-color: rgba(232, 102, 60, .8);
    padding: 20px 30px 25px 20px;
}
.slider__title {
    font-family: serif;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: #fff;
    text-transform: lowercase;
}
.slider__subtitle {
    padding-top: 25px;
    font-size: 12px;
    color: #fff;
    font-family: Helvetica,sans-serif;
}
.slider-nav__item {
    width: 140px;
    height: 120px;
    background-image: url(../images/slider_bg.jpg);
}
.slick-slide {
    margin: 5px;    
}
.slider::before {
    content: '';
    display: block;
    position: absolute;
    top: 84px;
    width: 100%;
    height: 60px;
    background-color: #f0ac9a;
}
.slick-next::before {
    content: url('../images/right.svg');
    position: absolute;
    width: 50px;
    height: 50px;
    top: -50px;
    right: 40px;
    
}
.slick-prev:before {
    content: url('../images/left.svg');
    position: absolute;
    width: 50px;
    height: 50px;
    top: -50px;
    left: 60px;
    
}

