* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

/* font-family: 'Bebas Neue', cursive; */



/*header*/


.header {
    background-color: #fdfdfd ;
    font-family: 'Bebas Neue', cursive;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 36px;
    font-weight: 400;
    color: #e8603c;
    margin-top: 20px;
}
.header__logo span {
    color: #f3af9d;
}

.header__menu-row{
    width: 30px;
    height: 4px;
    background-color: #b9b9b9;
    margin-top: 4px;
}
.header__menu-btn{
    display: none;
}



.header__nav li {
    display: inline-block;
    font-size: 16px;
    color: #b9b9b9;
    margin-top: 34px;
    margin-bottom: 28px;
    
}
.header__nav li + li {
    margin-left: 28px;
}
.header__nav a:hover {
    color: #e8663c;
    transition: all .5s;
}

/*slider*/

.slider{
    margin-bottom: 40px;
}

.slider__item {
    max-height: 400px;
    background-image: url(../images/slider_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 245px;
    padding-left: 30px;
    
}


.slider__box-text {
    width: 412px;
    background-color: rgba(232, 102, 60, .8);
    padding: 20px 30px 25px 20px;
}
.slider__title {
    font-family: serif;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: #fff;
    text-transform: lowercase;
}
.slider__subtitle {
    padding-top: 25px;
    font-size: 12px;
    color: #fff;
    font-family: 'Helvetica',sans-serif;
}
.slider-nav__item {
    width: 140px;
    height: 120px;
    background-image: url(../images/slider_bg.jpg);
}
.slick-slide {
    margin: 5px;    
}
.slick-next{
    right: 50px;
    top: 170px;
}
.slick-prev {
    z-index: 2;
    top: 170px;
    left: 20px;
}
.slick-arrow::before{
    display: none;
}

/*content*/

.content{
    margin-bottom: 45px;
}
.content__inner{
    display: flex;
    justify-content: space-between;
}
.content__item{
    width: 290px;
}
.content__item-title{
    padding-bottom: 40px;
    padding-left: 70px;
    font-family: 'Bebas', cursive;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #e8663c;
    position: relative;
}
.content__portfolio::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/content/item-1.svg);
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
}
.content__offer::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/content/item-2.svg);
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;

}
.content__follow::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/content/item-3.svg);
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;

}
.content__item-text{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 24px;
}
.content__item-btn{
    font-family: 'Bebas', cursive;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #e8663c;
    color: white;
    padding: 10px 15px;
}

/*works*/

.works{
    margin-bottom: 50px;
}
.works__title{
    font-family: 'Bebas', cursive;
    font-size: 18px;
    color: #e8663c;
    margin-bottom: 26px;
    background-color: #f0f0f0;
}
.works__items{
    display: flex;
    justify-content: space-between;
}
.works__item{
    width: 220px;
}
.item__img{
    height: 185px;
    background-repeat: no-repeat;
}
.item__img1{
    background-image: url(../images/works/img-1.jpg);
}
.item__img2{
    background-image: url(../images/works/img-2.jpg);
}
.item__img3{
    background-image: url(../images/works/img-3.jpg);
}
.item__img4{
    background-image: url(../images/works/img-4.jpg);
}
.item__text{
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    padding: 15px 0px 15px 15px;
}
.item__title{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #b9b9b9;
}
.item__subtitle{
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #e8663c;
}

/*footer*/

.footer__inner{
    background-color: #e8663c;
    padding: 40px 30px 35px;
    display: flex;
    justify-content: space-between;
}
.about{
    width: 270px;
}
.twitter{
    width: 230px;
}
.contact{
    width: 270px;
}
.about__title,
.twitter__title,
.contact__title{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}
.footer p {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #fff;
    margin-bottom: 20px;
}
.footer span{
    font-size: 12px;
    color: #b9b9b9;
}
.twitter p{
    margin-bottom: 10px;
}
.twitter__about{
    display: block;
    margin-bottom: 20px;
}
.contact__social li{
    display: inline-block;
}

