@import url(c:\Users\111\Desktop\AndreySavchenkov.github.io\howTo\page\ShapeUp\css\normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

/*logo*/
.logo > p {
  display: inline;
  font-size: 36px;
  margin-left: 10px;
}

.logo > span {
  display: inline;
  font-size: 36px;
  color: #F80759;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 44px;
  margin-top: 28px;
  margin-left: 390px;
}

/*wrapper*/
.banner {
  background-image: url(../img/bannerBackground.png);
  background-position: -350px;
  height: 750px;
}

.banner__nav {
  display: inline;
  margin-left: 250px;
}

.banner__nav__item {
  margin-left: 30px;
  font-size: 16px;
}

.banner__nav__item:hover {
  color: #F80759;
}

.banner__h1 {
  display: block;
  font-size: 60px;
  margin-left: 390px;
  margin-top: 190px;
  font-weight: 600;
  color: white;
}

.banner__h1 > span {
  font-size: 48px;
  color: #12C2E9;
  font-weight: 400;
}

.banner__text {
  font-size: 16px;
  color: white;
  margin-left: 390px;
  margin-top: 20px;
}

.banner__btn {
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 1px solid #F80759;
  border-radius: 5px;
  padding: 15px 0;
  margin-top: 30px;
}

.banner__btn:hover {
  background-color: #F80759;
}

.banner__btn__first {
  margin-left: 390px;
  margin-right: 20px;
}

/*about us*/
.about-us {
  background-color: black;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-us__text__subtitle {
  font-size: 18px;
  color: #12C2E9;
  padding-top: 127px;
  margin-left: 390px;
}

.about-us__text__title {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  margin-left: 390px;
}

.about-us__underline {
  width: 60px;
  height: 2px;
  background-color: #F80759;
  margin-left: 390px;
  margin-top: 24px;
}

.about-us__text__main-title {
  font-size: 22px;
  color: white;
  margin-top: 44px;
  margin-left: 390px;
}

.about-us__text__main {
  width: 519px;
  color: white;
  font-size: 14px;
  margin-top: 35px;
  margin-left: 390px;
}

.about-us__text__link {
  display: inline-block;
  color: #F80759;
  margin-left: 390px;
  margin-top: 39px;
}

/*add swiper.js*/
.swiper-container {
  width: 800px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 800px;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 20%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

/*trainers*/
.trainers {
  background-color: black;
}

.trainers__subtitle {
  font-size: 18px;
  color: #12C2E9;
  text-align: center;
  padding-top: 100px;
}

.trainers__title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.trainers__line {
  display: block;
  width: 60px;
  height: 2px;
  background-color: #F80759;
  margin: 0 auto;
  margin-top: 25px;
}

.trainers__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.trainers__item {
  margin: 50px 0;
}

/*programs*/
.programs {
  background-color: #161616;
}

.programs__subtitle {
  font-size: 18px;
  color: #12C2E9;
  text-align: center;
  padding-top: 78px;
}

.programs__title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.programs__line {
  display: block;
  width: 60px;
  height: 2px;
  background-color: #F80759;
  margin: 0 auto;
  margin-top: 25px;
}

.programs__items {
  display: flex;
  justify-content: space-evenly;
}

.programs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
}

.programs__item__logo {
  width: 50px;
  height: 50px;
  border: 1px solid #F80759;
  border-radius: 50%;
  padding: 15px;
}

.programs__item__title {
  color: white;
  font-size: 22px;
  margin-top: 41px;
}

.programs__item__text {
  width: 324px;
  color: white;
  font-size: 12px;
  margin-top: 26px;
  text-align: center;
}

.programs__item__link {
  border: 1px solid #F80759;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 12px;
  margin-top: 32px;
  margin-bottom: 80px;
}

.programs__item__link:hover {
  background-color: #F80759;
}

/*reviews*/
.reviews {
  background-image: url(../img/reviews1.png);
}

.reviews__subtitle {
  color: #12C2E9;
  padding-top: 75px;
  font-size: 18px;
  text-align: center;
}

.reviews__title {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

.reviews__line {
  width: 60px;
  height: 2px;
  background-color: #F80759;
  margin: 0 auto;
  margin-top: 25px;
}

.reviews__items {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.reviews__item {
  display: flex;
  background-color: #222222;
  width: 750px;
}

.reviews__item__text__name {
  color: #12C2E9;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 25px;
}

.reviews__item__text__position {
  font-size: 10px;
  color: white;
  margin-top: 7px;
  margin-left: 25px;
}

.reviews__item__text__main {
  font-size: 12px;
  color: white;
  margin-top: 35px;
  padding: 25px;
}

.rating {
  font-family: fontawesome;
  color: #F80759;
  font-size: 10px;
  margin-left: 25px;
}

.fas {
  margin-right: 5px;
}

/*gallery*/
.gallery {
  display: flex;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  background-color: #222222;
}

.gallery img {
  width: 270px;
  height: 270px;
}

/*price*/
.price {
  background-color: #101010;
}

.price__subtitle {
  font-size: 18px;
  color: #12C2E9;
  text-align: center;
  padding-top: 100px;
}

.price__title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.price__line {
  width: 60px;
  height: 2px;
  background-color: #F80759;
  margin: 0 auto;
  margin-top: 25px;
}

.price__items {
  display: flex;
  justify-content: space-around;
  width: 1139px;
  margin: 0 auto;
}

.price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.price__item__number {
  color: white;
  font-size: 20px;
}

.price__item__number > span {
  font-size: 34px;
  font-weight: 600;
}

.price__item__period {
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  color: white;
  background-color: #222222;
}

.price__item__facilities {
  margin-top: 20px;
  list-style: none;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 2.4;
}

.price__link {
  margin-top: 20px;
  font-size: 12px;
  padding: 5px 15px;
  border: 1px solid #F80759;
  border-radius: 5px;
  margin-bottom: 20px;
}

.price__item:hover {
  border: 1px solid #12C2E9;
}

.price__item:hover .price__item__period {
  background-color: #F80759;
}

.price__item:hover .price__link {
  background-color: #F80759;
}

/*Blog*/
.blog {
  background-color: #222222;
}

.blog__subtitle {
  font-size: 18px;
  color: #12C2E9;
  text-align: center;
  padding-top: 50px;
}

.blog__title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.blog__line {
  width: 60px;
  height: 2px;
  background-color: #F80759;
  margin: 0 auto;
  margin-top: 25px;
}

.blog__items {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.blog__item {
  width: 260px;
}

.blog__item__img {
  display: block;
  width: 260px;
  height: 200px;
  margin: 0 auto;
}

.blog__item__position {
  font-size: 12px;
  color: #F80759;
  margin-top: 35px;
  margin-left: 20px;
}

.blog__item__title {
  font-size: 18px;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

.blog__item__text {
  color: white;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 20px;
}

.blog__item__link {
  font-size: 14px;
  color: #F80759;
  margin-left: 20px;
  margin-top: 10px;
}

.blog__item__name {
  font-size: 14px;
  color: #12C2E9;
  margin-top: 25px;
  margin-left: 20px;
  padding-bottom: 50px;
}

/*contact*/
.contact {
  background-image: url(../img/contact1.png);
  height: 500px;
}

.contact__subtitle {
  font-size: 18px;
  text-align: center;
  color: #12C2E9;
  padding-top: 75px;
}

.contact__phone {
  font-size: 48px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.contact__text {
  display: block;
  margin: 0 auto;
  margin-top: 65px;
  font-size: 18px;
  color: white;
  width: 626px;
  text-align: center;
}

.contact__link {
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 80px;
  border: 1px solid #F80759;
  padding: 10px;
  border-radius: 5px;
}

.contact__link:hover {
  background-color: #F80759;
}

/*footer*/
.footer__items {
  background-color: black;
  display: flex;
}

.footer__logo {
  color: white;
  display: inline;
  font-size: 36px;
  margin-left: 10px;
}

.footer__logo > span {
  display: inline;
  font-size: 36px;
  color: #F80759;
}

.footer__items img {
  margin-left: 365px;
  margin-top: 80px;
}

.footer__item__text {
  width: 275px;
  margin-left: 365px;
  margin-top: 37px;
  font-size: 16px;
  color: white;
}

.footer__item__title {
  font-size: 20px;
  color: white;
  margin-left: 365px;
  margin-top: 20px;
}

.footer__item__follows {
  display: flex;
  margin-left: 365px;
  margin-top: 10px;
  width: 250px;
}

.footer__item__follows__link {
  margin-right: 15px;
  font-size: 25px;
}

.footer__item__title {
  margin-top: 77px;
  margin-bottom: 40px;
}

.footer__item__adress li {
  color: white;
  list-style: none;
  font-size: 14px;
  padding-top: 15px;
  margin-left: 365px;
}
/*# sourceMappingURL=index.css.map */