@import "./normalize";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #252A34;
    font-size: 2em;
    font-weight: 400;
}

/*стилизация верхней навигации*/

.topNav {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: 200px 1fr 300px;
    align-items: center;
    background-color: rgba(234,234,234,0.7);
    overflow: hidden;
}

.topNav__items a {
    margin-left: 2rem;
}

.topNav__phone:before {
    content: '\f879';
    font-family: fontawesome;
    margin-right: 1em;
    color: #9b0000;
}

.topNav__phone {
    color: #9b0000;
}

.topNav__icon {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.fa-bars {
    font-family: fontawesome;
    font-size: 4rem;
    color: #252A34;
}



/*стилизация гамбургера под телевфоны*/

@media screen and (max-width: 1255px) {

    .topNav__items,
    .topNav__phone {
        display: none;
    }

}

.hamburger-menu {
    display: none;
    @media screen and (max-width: 1255px) {
        display: flex;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color:#9b0000;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #252A34;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #EAEAEA;
}


/*стилизация хедера*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: gray;
    background-image: url(../img/header3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 700px){
        background-position-x: -180px;;
    }
}

.header__title {
    font-size: 8em;
    font-weight: 400;
    background-color: rgba(56, 51, 51, 0.603);
    color: white;
}

.header__link {
    font-size: 3em;
    background-color: white;
    color: #9b0000;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid#9b0000;

    &:hover {
        background-color: #9b0000;
        color: white;
    }

}





@media screen and (max-width: 1255px) {
    .header__title {
        font-size: 4em;
    }
}

@media screen and (max-width: 563px) {
    .header__title {
        font-size: 2.5em;
    }
    .header__link {
        font-size: 2em;
    }
}

@media screen and (max-width: 349px) {
    .header__title {
        font-size: 2em;
    }
}

/*стилизация w72*/

.w72__title {
    display: block;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin: 5rem 0;
    @media screen and (max-width: 1200px){
        font-size: 2.5em;
    }
}

.w72__mainInfo {
    display: flex;
    align-items: center;
    @media screen and (max-width: 770px){
        flex-direction: column;
    }
    
}

.w72__mainInfo__img {
    display: block;
    width: 45%;
    min-width: 300px;
    background-size: contain;
}

.w72__mainInfo__container__text {
    display: block;
    font-size: 3em;
    margin-left: 1em;
    margin-right: 1em;
    @media screen and (max-width: 1675px){
        font-size: 2.5em;
    }
    @media screen and (max-width: 1200px){
        font-size: 2em;
    }
}

/*стилизация  F50*/

.f50__title {
    display: block;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin: 5rem 0;
    @media screen and (max-width: 1200px){
        font-size: 2.5em;
    }
}

.f50__mainInfo {
    display: flex;
    align-items: center;
    background-size: contain;
    @media screen and (max-width: 770px){
        flex-direction: column-reverse;
    }
    
}

.f50__mainInfo__img {
    display: block;
    width: 45%;
    min-width: 300px;
}

.f50__mainInfo__container__text {
    display: block;
    font-size: 3em;
    margin-left: 1em;
    margin-right: 1em;
    @media screen and (max-width: 1675px){
        font-size: 2.5em;
    }
    @media screen and (max-width: 1200px){
        font-size: 2em;
    }
}

/*система sl160*/

.sl160__title {
    display: block;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin: 5rem 0;
    @media screen and (max-width: 1200px){
        font-size: 2.5em;
    }
}

.sl160__mainInfo {
    display: flex;
    align-items: center;
    background-size: contain;
    @media screen and (max-width: 770px){
        flex-direction: column;
    }
    
}

.sl160__mainInfo__img {
    display: block;
    width: 45%;
    min-width: 300px;
}

.sl160__mainInfo__container__text {
    display: block;
    font-size: 3em;
    margin-left: 1em;
    margin-right: 1em;
    @media screen and (max-width: 1675px){
        font-size: 2.5em;
    }
    @media screen and (max-width: 1200px){
        font-size: 2em;
    }
}

/*стилизация преимуществ*/

.advantages__title {
    display: block;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin: 5rem 0;
    @media screen and (max-width: 1200px){
        font-size: 2.5em;
    }
}

.advantages__items {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 1em;
    @media screen and (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.advantages__item {
    display: flex;
    flex-direction: column;
}

.advantages__item__title {
    font-size: 2em;
    text-align: center;
}

.fas {
    font-family: fontawesome;
    text-align: center;
    font-size: 6em;
    color: #9b0000;
}

ul.advantages__item__text > li {
    font-size: 2em;
    list-style: none;
    padding: .4em 0;
}

/*стилизация проектов*/

.projects__title {
    display: block;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin: 5rem 0;
    @media screen and (max-width: 1200px){
        font-size: 2.5em;
    }  
}

.projects__subtitle {
    display: block;
    color: #9b0000;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    margin: 5rem 0;
    @media screen and (max-width: 1200px){
        font-size: 1.5em;
    }
}

.projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-items: center;
    @media screen and (max-width: 2300px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr ;
    }
    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

/*стилизация контактов*/

.contact__phone {
    color: #9b0000;
    font-size: 2rem;
}

.contact__container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 680px){
        flex-direction: column;

    }
}

.contact__container__text {
    margin-left: 10em;
    @media screen and (max-width: 680px){
        margin-left: 0;
        margin-top: 3rem;
        }
}

.contact__container__text  p {
    font-size: 2rem;
    font-weight: 600;
    @media screen and (max-width: 680px){
        font-size: 1.5rem;
    }
    
}

.contact__container__text span {
    display: block;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: 400;
    @media screen and (max-width: 680px){
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}

a.contact__link {
    font-size: 2rem;
    display: block;
    cursor: pointer;
    margin-top: 3rem;
    @media screen and (max-width: 680px){
        font-size: 1.5rem; 
        margin-top: 1rem;  
    }
}

.fab {
    font-size: 3rem;
    margin-left: 1rem;
    color: #9b0000;
    @media screen and (max-width: 680px){
        margin-top: 2rem;   
    }
}

.contact__map {
    display: block;
    width: 50%;
    height: 500px;
    @media screen and (max-width: 680px){
        width: 100%;   
    }
}



