/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    width: 1010px;
}

/*стилизация навигации*/

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    background: #34495e;
}
label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    -webkit-text-decoration:uppercase;
            text-decoration:uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none; 
}


/*стилизация хедера*/
header {
    height: 485px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    padding-top: 115px;
}

.text1 {
    font-size: 117px;
    width: 308px;
    height: 155px;
    display: block;
    text-align: center;
    color: #fff;
    text-shadow: -3.9px 4.5px 0 rgba(130, 105, 157, 0.75);
    margin: 0 auto;
}

.text2 {
    font-size: 31px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

/* стилизация текста*/
.middle-text {
    
}

.middle-text p {
    font-size: 23px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    color: #494848;
    border-top: 1px solid #494848;
    border-bottom: 1px solid #494848;
    padding-top: 20px;
    padding-bottom: 20px;
}
article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
article img {
    border-radius: 50%;
    border: 15px solid #EAEAEA;
}
.article__text {
    padding-left: 35px;
}
.article__text__title {
    font-size: 31px;
    font-weight: bold;
    line-height: 1.16;
    color: #505051;
    padding-top: 40px;
}
.article__text__blog {
    font-size: 15px;
    line-height: 1.87;
    color: #838383;
}
.linkForArticle {
    text-decoration: none;
    color: #82699d;
    font-size: 13px;
    padding-left: 900px;
}
.linkForArticle:after {
    content: '\f061';
    font-family: fontawesome;
    padding-left: 10px;
}
footer {
    background: #82699d;
    height: 50px;
}
footer > p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}







/*Responsive*/

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 980px;
    }
    .logo-text {
        margin-right: 200px;
    }
    .linkForArticle {
        padding-left: 850px;
    }
    label.logo{
        font-size: 32px;
        padding-left: 25px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        width: 100%;
    }
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 70px;
        left: -100%;
        text-align: center;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
    .linkForArticle {
        padding-left: 650px;
    }
    
}

@media screen and (max-width: 767px) {
    
    .linkForArticle {
        padding-left: 430px;
    }
}

@media screen and (max-width: 565px) {
    
    .wrapper {
        width: 100%;
    }
    article {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 10px;

    }
    article > .article__text {
        padding-left: 0;
    }
    .linkForArticle {
        padding-left: 10px;
    }
    .article__img {
        text-align: center;
    }
    .article__text__title {
        text-align: center;
    }
    .logo-text {
        margin-right: 0;
    }
    .text1 {
        font-size: 80px;
    }
    .text2 {
        font-size: 20px;
    }
}
