* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*Стилизация хедера*/

header {
    width: 100%;
    background-color: #f5f5f5;
}

.header-wrapper {
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

img.logo {
    display: inline-block
}
.header-item-logo p {
    font-size: 14px;
    font-weight: 500;
    color: #2e2b2f;
    margin-right: 67px;
    display: inline-block;
}

.header-item-logo p span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: #2e2b2f;
}



.header-item-logo {
    padding-top: 48px;
    display: inline-block;
}


.header-item-timtable {
    display: inline-block;
}

.header-item-timtable img {
    margin-left: 406px;
}

.header-item-timtable p {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header-item-phone {
    display: inline-block;
    margin-left: 93px;
}

.header-item-phone p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header-item-cashbox {
    display: inline-block;
}

.header-item-cashbox img {
    display: inline-block;
    width: 30px;
    margin-left: 75px;
}

.header-item-cashbox p {
    display: inline-block;
    font-weight: 500;
}

.header-item-cashbox span {
    font-weight: bold;
}

/*стилизация топовой навигации*/

.topNav {
    width: 100%;
}

.topNav-wrapper {
    width: 1300px;
    margin: 0 auto;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    }

.topNav-wrapper  li{
    list-style: none;
    font-size: 14px;
    letter-spacing: 0.28px;
    color: #1f588f;
    font-weight: 500;
    cursor: pointer;
}

li.topNav-tell {
    font-size: 12px;
    font-weight: 300;
    color: #df4543;
    border: 1px solid;
    padding: 15px;
}

/*стилизация офера*/

.banner {
    width: 100%;
    background-color: #f5f5f5;
}

.wrapper-banner {
    background-image: url('img/background-banner.png');
    width: 1300px;
    height: 610px;
    margin: 0 auto;
}

.wrapper-highText {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.27px;
    color: #1f588f;
    padding-top: 152px;
    line-height: 2.67px;
} 

.wrapper-midleText {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.04;
    letter-spacing: 0.9px;
    color: #1f588f;
    margin-top: 15px;
}

.wrapper-bottomText {
    width: 437px;
    height: 70px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.28px;
    color: #2e2b2f;
    margin-top: 15px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }

.wrapper-button {
    position: relative;
    background-color: #df4543 ;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.offer {
    width: 100%;
}

.offer-text {
    font-size: 20px;
    font-weight: 800;
    line-height: 2;
    letter-spacing: 0.4px;
    color: #2e2b2f;
    margin-top: 65px;
}

.offer-wrapper {
    margin: 0 auto;
    width: 1300px;
}

.offer-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    height: 310px;
    margin: 50px auto;
}

.offer-item {
    display: flex;
    flex-direction: column;
    
}

.offer-img-wrapper {
    width: 270px;
    height: 297px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

.offer-img-wrapper img {
    margin: 10px auto;
}

.offer-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    letter-spacing: 0.28px;
    color: #363437;
}

.offer-price {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.53;
    letter-spacing: 0.34px;
    color: #363437;
}

/*последнее поступление*/

.entrance {
    width: 100%;
}

.entrance-wrapper {
    width: 1300px;
    margin: 0 auto;
}

.entrance-text {
    font-size: 20px;
    font-weight: 800;
    line-height: 2;
    letter-spacing: 0.4px;
    margin-bottom: 33px;
}

.entrance-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    height: 310px;
    margin: 50px auto;
}

.entrance-img-wrapper {
    width: 270px;
    height: 297px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

.entrance-img-wrapper img {
    margin: 10px auto;
}

.trigers {
    width: 100%;
    background-color: #f5f5f5;
}

.trigers-wrapper {
    width: 1300px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trigers-item p {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.26px;
    color: #2e2b2f;
}

.trigers-item span {
   font-size: 15px;
   font-weight: bold;
   line-height: 2.67;
   letter-spacing: 0.27px; 
}

/*стилизация новости*/

.news {
    width: 100%;
}

.news-wrapper {
    width: 1300px;
    margin: 0 auto;
}

p.news {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.4px;
    margin-top: 65px;
    margin-bottom: 40px;
}

.news-items-wrapper {
    display: flex;
    justify-content: space-between;
}

.news-item img {
    width: 270px;
    height: 270px;
}

.news-item {
    width: 270px;
    height: 400px;
    margin-bottom: 70px;

}

.news-item p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.27px;
    color: #1f588f;
}

.news-item span {
    font-size: 13px;
    font-weight: 500;
    color: #686868;
    margin-top: 10px;
    margin-bottom: 7px;
}

.news-item button {
    width: 95px;
    height: 36px;
    border-radius: 2px;
    border: solid 1px #df4543;
    color: #df4543;
    margin-top: 20px;
}

/*стилизация футера*/

footer {
    weight: 100%;
    background-color: #0c1c36;
}

.footer-wrapper {
    width: 1300px;
    height: 250px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer-item {
    color: white;
    display: inline-block;
}

.footer-item span {
    
    font-size: 18px;
    font-weight: bold;
}

.footer-item p {
    font-size: 14px;
    font-weight: 500;

}

.kross {
    margin-top: 30px;
    font-size: 12px;
    letter-spacing: 0.3px;
    opacity: 0.15;
}




