* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*Стилизация хедера*/

header {
    width: 100%;
    background-color: #f5f5f5;
}

.header-wrapper {
    width: 1300px;
    margin: 0 auto;
}

.header-item-logo p {
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
    color: #2e2b2f;
    margin-right: 67px;
}

.header-item-logo p span {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.45px;
    color: #2e2b2f;
}

.header-item-logo {
    padding-top: 48px;
    display: inline-block;
}

.header-item-search {
    display: inline-block;
}

.header-item-timtable {
    display: inline-block;
}

.header-item-phone {
    display: inline-block;
}

.header-item-cashbox {
    display: inline-block;
}

