@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
}
/*Style for header*/
header {
    background-image: url(/img/header-background.jpg);
    height: 800px;
    width: 1600px;
    position: relative;
}

/*стилизую навигацию*/

.logo, nav, .phone-number, .translate {
    display: inline-block;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 24px;
    padding-left: 80px;
}

.nav-wrapper {
    height: 80px;
    background-color: rgba(0,0,0, 0.4);
}

header nav {
    width: 528px;
    height: 18px;
    padding-left: 359px;
    padding-top: 24px;
}

header nav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding-left: 45px;
    padding-bottom: 37px;
}

header nav a:hover, header nav a:visited {
    border-bottom: 1px solid #ffffff;
}

.phone-number {
    
    height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding-left: 180px;
}

.phone-number:before {
    content: "\2706";
    width: 16px;
    height: 16px;
    padding-right: 4px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 11px;
    padding-right: 11px;
}

.english {
    font-weight: normal;
    border-left: 1px solid #ffffff;
}

/*стилизация хедера*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #ffffff;
    margin-left: 77px;
    margin-top: 247px;
}

.text-header {
    width: 547px;
    height: 69px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.9px;
    color: #ffffff;
    margin-left: 80px;
    margin-top: 27px;
}

.button-header {
    width: 200px;
    height: 50px;
    background-color: #fa9e66;
    margin-left: 80px;
    margin-top: 48px;
}

.our-projects {
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.05px;
    position: relative;
    top: 15px;
    left: 16px;
    width: 170px;
}

/*стилизация блока история*/

section.history {
    display: flex;
    width: 1530px;
    height: 423px;
    padding-top: 85px;
    
}

.alternativ-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 600px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.8px;
    color: rgba(250, 158, 102, 0.05)
}

h2 {
    display: block;
    width: 144px;
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #171919;
    margin-left: 78px;
    margin-top: 49px;
    border-bottom: 1px solid #000;
}

h3 {
    display: block;
    width: 72px;
    height: 27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #171919;
    padding-left: 345px;
    padding-top: 10px;
  
}

p.history {
    display: block;
    width: 395px;
    height: 287px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.75px;
    color: #171919;
    padding-left: 344px;
    padding-top: 10px;
}

img.history {
    width: 720px;
    height: 354px;
    margin-left: 61px;
    margin-top: 60px;
}

/*Стилизация проектов*/
section.project {
    width: 1534px;
    height: 743px ;
    display: block;
    position: relative;
}
div.wrapper-project1 {
    display: block;
}

h2.project-h2 {
    margin-top: 135px;
}

p.project {
    width: 718px;
    height:86px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.75px;
    color: #171919;
    margin-top: 54px;
    margin-left: 80px;
}

.text-projects {
    margin-top: -50px;
}

.wrapper-project2 {
    display: flex;
    padding-top: 8px;
    padding-left: 80px;
}

.wrapper-project2 img {
    padding-right: 25px;
}

/*стилизация контактов*/

section.contact {
    display: flex;
    width: 1530px;
    height: 379px;
}

.wrapper-contact1 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 0.75px;
    color: #171919;
    margin-left: 365px;
    margin-top: 20px;
}

p.phone-contact {
    margin-top: 52px;
}

.wrapper-contact2 {
    margin-left: 155px;
    margin-top: 80px;
}

.contact1:before {
    content: '\2706';
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.contact2:before {
    content: '\2706';
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.contact3:before {
    content: '\1F582';
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.contact4:before {
    content: '\2751';
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.contact5:before {
    content: '\2752';
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

/*стилизация футера*/

footer {
    weight: 1600px;
    height: 267px;
    background-color: #333;
    margin-top: 142px;
}

